<div class="container aboutCompany">
    <div class="row">
        <h3>Liker du det du ser</h3>
        <p>
            I InCity jobber vi med alt fra små grundermiljø til mellomstore bedrifter og merkevarer.
            Spekteret er stort. <br>Felles for dem alle er at de kommer til oss fordi vi er en komplett
            samarbeidspartner.
        </p>
        <div>
            <a href="/Portfolio/Index" class="greenButton">Portefølje</a>
        </div>
    </div>
</div>
