
<div class="container aboutCompany">
    <div class="row">
        <h3>Vi snakker så folk forstår</h3>
        <p>
            Vi er et kreativt fundert byrå, med en enkel filosofi. Folk som trives godt sammen har lettere
            for å få til bra ting. <br> Vi jobber med helhetlig kommunikasjon, uavhengig av plattformer.
        </p>
    </div>
</div>