<footer class="MainFooter">
    <div class="container">
        <div class="row">
            <div class="col col-float col-md-6">
                <h2 class="logo2">Logo</h2>
                <p>
                    Vi har et fint sted å være. Et sted som gir oss arbeidslyst og inspirasjon.<br>
                    Du kan komme ned og besøke oss en dag det passer.<br> Du kommer til å like deg. Eller vi kan komme til deg,<br>
                    kanskje møtes et sted på halvveien hvis det passer bedre.
                </p>
            </div>
            <div class="col col-float col-md-3">
                <h4>
                    Kontakt info</h5>
                    <p>Pedersgata, 142<br>4014, Stavanger<br><br>incity@gmail.com</p>
            </div>
            <div class="col col-float col-md-3 footermenu">
                <h4>Quick links</h4>
                <ul>
                    <li>Tjenester</li>
                    <li>Arbeid</li>
                    <li>Om oss</li>
                    <li>Kontakt oss</li>
                </ul>
            </div>
            <div class="col col-float col-md-3 newsbrev">
                <h4>Nyhetsbrev</h4>
                <p> Abonner på vårt gratis nyhetsbrev.</p>
                <form>
                    <input type="email" required="required" placeholder="EMAIL">
                    <a href="#">OK</a>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-float col-md-15">
                &copy; @DateTime.Now.Year – приложение ASP.NET
            </div>
        </div>
    </div>
</footer>
