<div class="container aboutCompany">
    <div class="row">
        <h3>Liker du det du ser?</h3>
        <p>
            I InCity jobber vi med små og store bedrifter.
            Vi leverer tjenester og produkter innen markedskommunikasjon og reklame.
        </p>
        <div>
            <a href="/Portfolio/Index" class="greenButton">Portefølje</a>
        </div>
    </div>
</div>
