@{
    ViewBag.Title = "Passordbekreftelse";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sjekk e-posten din for å tilbakestille passordet ditt.
    </p>
</div>
	
