@{
    ViewBag.Title = "Bekreftelse av passordgjenoppretting";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Passordet ditt er tilbakestilt. @Html.ActionLink("Klikk her for å gå inn.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
