@{
    ViewBag.Title = "Forside";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentPage = "Home";


}

    <div class="container aboutCompany">
        <div class="row">
            <h3>Vi snakker så folk forstår</h3>
            <p>
                Vi er et kreativt reklamebyrå som leverer tjenester<br> og produkter innen markedskommunikasjon og reklame
            </p>
        </div>
    </div>
    <div class="container utp">
        <div class="row">
            <div class="col col-float col-md-5 oneUtp">
                <div class="uptImg hidden-xs">
                    <img src="~/Content/img/icon-sun.png">
                </div>
                <h3>Vi vet hvem og hvordan</h3>
                <div>
                    I InCity har vi spisskompetanse på alt fra PR,
                    reiseliv, offentlig sektor og <br>børskommunikasjon til shipping, <br>helse  teknologi
                </div>
            </div>
            <div class="col col-float col-md-5 oneUtp">
                <div class="uptImg hidden-xs">
                    <img src="~/Content/img/icon-people.png">
                </div>
                <h3>Dedikerte spesialister</h3>
                <div>
                    Vi har prisvinnende spesialister over hele verden, som jobber dedikert med å utvikle de mest <br>effektive strategiene for våre kunder<tr> på tvers av alle markeder
                </div>
            </div>
            <div class="col col-float col-md-5 oneUtp">
                <div class="uptImg hidden-xs">
                    <img src="~/Content/img/icon-star.png">
                </div>
                <h3>Idéer som virker</h3>
                <div>
                    Vår kreative byråenhet hjelper andre <br>med å bli sett, hørt og forstått. Vi tror på enkel, leken og engasjerende<br> kommunikasjon.
                </div>
            </div>
        </div>
    </div>
    <div class="latestWorkcontainer">
        <div class="latestWork container">
            <div class="row">
                <h3>Noen av våre jobber</h3>
                <span class="onelatestWork col col-float col-md-3" style="background: url('Content/img/project1.jpg') no-repeat #aaa; background-size: cover; background-position: center center; ">
                </span>
                <span class="onelatestWork col col-float col-md-3" style="background: url('Content/img/project2.jpg') no-repeat #aaa; background-size: cover;background-position: center center;  ">
                </span>
                <span class="onelatestWork col col-float col-md-3" style="background: url('Content/img/project3.jpg') no-repeat #aaa;background-size: cover;">
                </span>
                <span class="onelatestWork col col-float col-md-3" style="background: url('Content/img/project4.jpg') no-repeat #aaa;background-size: cover;background-position: center center;  ">
                </span>
                <span class="onelatestWork col col-float col-md-3" style="background: url('Content/img/project5.jpg') no-repeat #aaa; background-size: cover;background-position: center center;  ">
                </span>
            </div>
        </div>
    </div>
   

